// Grand Central Station, Main, Vertex, etc/ //
@import "normalize";
@import "google-homepage";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

    
/* Styling */

#stage svg {
   position: absolute;
}

body {
    background: #fff; 
}

/* Child */

h1 {
   font-family: 'Dancing Script', cursive; 
    position: absolute;
}

/* Staging */

.dragon {
    webkit-animation: slide 25s ease-in;
}

button {
    display: inline-block;
    
}

@keyframes slide {
  
0%
webkit-transform: slideX(2000px);
    transform: slideX(-1000px);
}


50% {
    webkit-transform: slideX(-1000px);
    transform: slideX(-1500px);
}

50% {
    webkit-transform: slideX(-1500px);
    transform: slideX(2000px);
}